<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">getpack</span>
</nav>

<section style="padding-top: 20px;">
  <div class="container">
    <ul class="row files-list">
      {{#each dirs}}
      <li class="col-md-3 col-sm-6 text-center">
        <a href="/{{this}}"><img src="images/folder.png" width="75px" height="75px"><p>{{this}}</p></a>
      </li>
      {{/each}}
      {{#each files}}
      <li class="col-md-3 col-sm-6 text-center">
        <a href="/{{this}}"><img src="images/file.png" width="75px" height="75px"><p>{{this}}</p></a>
      </li>
      {{/each}}
    </ul>
  </div>
</section>